<!DOCTYPE html>


<html>
    <head>
        <meta charset="UTF-8">
        <title>rabbit's webpage - {{ titlevar }}</title>
        
        {% if user %}
            <p>Hello, {{user}}</p>
        {% else %}
            <p>Hello</p>
        {% endif %}
    </head>
    <body>
    
    
        <div>Home: <a href="/index">Home</a></div>
        <div>Stuff: <a href="/stuff">Stuff</a></div>
        <div>Blog: <a href="/blog">Blog</a></div>
        
        <hr>
        
        {% block content %}{% endblock %}
        
        
    </body>
    


</html>

